---
- name: JavaScript/TypeScript | Install JS/TS for Arch
  community.general.pacman:
    name:
      - nodejs
      - pnpm
      - npm
    state: present
  become: true

- name: Bun | Install via official script
  ansible.builtin.shell: "curl -fsSL https://bun.sh/install | bash"
  args:
    creates: "{{ ansible_facts['env']['HOME'] }}/.bun/bin/bun"
    executable: /bin/bash
  become: false

# - name: JavaScript/TypeScript | Install nvm
#   kewlfft.aur.aur:
#     name: nvm
#     state: present
#   become: true
#   when: machine_os == 'archlinux'
