---
- name: JavaScript/TypeScript | Install JS/TS for RedHat
  ansible.builtin.dnf:
    name:
      - nodejs
      - pnpm
      - npm
    state: present
  become: true

- name: "NVM | Download Latest Version JSON"
  ansible.builtin.uri:
    url: https://api.github.com/repos/nvm-sh/nvm/releases/latest
  register: nvm_latest_version_json
  changed_when: false
  check_mode: false

- name: "NVM | Registering NVM Latest Release"
  ansible.builtin.set_fact:
    nvm_latest_release: "{{ nvm_latest_version_json.json.tag_name }}"

- name: "NVM | Registering NVM Latest Version"
  ansible.builtin.set_fact:
    nvm_latest_version: "{{ nvm_latest_release }}"

- name: NVM | Show nvm_latest_release debug
  ansible.builtin.debug:
    var: nvm_latest_release

- name: Install nvm
  ansible.builtin.shell: >
    set -o pipefail && curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/{{ nvm_latest_release }}/install.sh | bash
  args:
    creates: "{{ ansible_facts['env']['HOME'] }}/.config/nvm/nvm.sh"
    executable: /bin/bash
  become: false

- name: Ensure NVM loader snippet is present in .bashrc
  ansible.builtin.blockinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.bashrc"
    create: true
    marker_begin: "# nvm (managed by ansible) START"
    marker_end: "# nvm (managed by ansible) END"
    block: |
      if [[ -d "$HOME/.nvm" || -d "$XDG_CONFIG_HOME/nvm" ]]; then
          export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm
          alias nvm="unalias nvm; [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"; nvm $@" # fix perf issue
      fi
    mode: "0644"
  become: false

- name: Ensure NVM loader snippet is present in .zshrc
  ansible.builtin.blockinfile:
    path: "{{ ansible_facts['env']['HOME'] }}/.zshrc"
    create: true
    marker_begin: "# nvm (managed by ansible) START"
    marker_end: "# nvm (managed by ansible) END"
    block: |
      if [[ -d "$HOME/.nvm" || -d "$XDG_CONFIG_HOME/nvm" ]]; then
          export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm
          alias nvm="unalias nvm; [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"; nvm $@" # fix perf issue
      fi
    mode: "0644"
  become: false
