.git/
out
*.log

tmux/plugins
nvim/lazy-lock.json

.exquisite_log
.exquisite_release

ansible/color.sh
decrypted_mp
master_password
ansible/decrypted_mp
ansible/master_password
ansible/tmp/
tmp
***/master_password
master_password_t
{private,public}.gpg
