[user]
    name = ejsadiarin
    email = ejs@ejsadiarin.com
    signingkey = "~/.ssh/id_ed25519.pub"

[core]
    editor = nvim
    autocrlf = input

[color]
    ui = auto

[rebase]
    autoStash = true

[pull]
    rebase = true

# DIFF AND MERGE
[diff]
    algorithm = histogram
    colorMoved = true
    colorMovedWS = allow-indentation-change
    mnemonicPrefix = true

    tool = nvim_difftool
    submodule = diff

[diff "bin"]
    textconv = hexdump -v -C

[difftool]
    prompt = true
    trustExitCode = true

[difftool "nvim_difftool"]
    cmd = nvim -c \"DiffTool $LOCAL $REMOTE\"

[merge]
    log = true
    tool = nvimdiff2

[mergetool]
    prompt = true
    trustExitCode = true
    hideResolved = true

# ALIASES
[alias]
    undo = "reset HEAD~1 --mixed"
    diffview = "!f() { nvim -c 'DiffviewOpen' \"$@\"; }; f"

