[submodule "nvim"]
	path = nvim
	url = https://github.com/ejsadiarin/nvim.git

[submodule "scripts-magic-spells"]
	path = scripts-magic-spells
	url = https://github.com/ejsadiarin/scripts-magic-spells.git

[submodule "pi"]
	path = pi
	url = https://github.com/ejsadiarin/pi-config.git

[submodule "skills"]
	path = skills
	url = https://github.com/ejsadiarin/skills.git
