---
- name: Essentials | Configure install packages for Archlinux
  ansible.builtin.include_tasks: archlinux.yml
  when: machine_os == 'archlinux'

- name: Essentials | Configure install packages for Debian
  ansible.builtin.include_tasks: debian.yml
  when: machine_os == 'debian'

- name: Essentials | Configure install packages for Redhat (Fedora)
  ansible.builtin.include_tasks: redhat.yml
  when: machine_os == 'redhat'

- name: Essentials | Handle unsupported OS
  ansible.builtin.fail:
    msg: "Unsupported operating system: {{ machine_os }}. This role supports: archlinux, debian, redhat"
  when: machine_os not in ['archlinux', 'debian', 'redhat']

- name: Downloads | Create proper directory structure
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/downloads"
    state: directory
    mode: "0755"

- name: Personal | Create proper directory structure
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/personal"
    state: directory
    mode: "0755"

- name: Work | Create proper directory structure
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/work"
    state: directory
    mode: "0755"

- name: Config | Create proper directory structure
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config"
    state: directory
    mode: "0755"
