---
- name: Neovim | Ensure old neovim from repository is uninstalled
  ansible.builtin.apt:
    name: neovim
    state: absent
  become: true

- name: Neovim | Make sure 'dependencies' are installed
  ansible.builtin.apt:
    name:
      - gcc
      - make
      - git
      - ripgrep
      - fd-find
      - unzip
      - curl
      # - xclip
      - libfuse2
      - lua5.4
      - luarocks
      - lua5.1
    state: present
  become: true

- name: Neovim | Check for add-apt-repository
  ansible.builtin.command: which add-apt-repository
  register: add_apt_repo_check
  ignore_errors: true
  changed_when: false

- name: Neovim | Add unstable ppa
  ansible.builtin.apt_repository:
    repo: ppa:neovim-ppa/unstable
    state: present
  become: true
  when: add_apt_repo_check.rc == 0

- name: Neovim | Update sources list
  ansible.builtin.apt:
    update_cache: true
  become: true

- name: Neovim | Install neovim now
  ansible.builtin.apt:
    name: neovim
    state: present
  become: true

- name: Neovim | Copy own nvim configs
  ansible.builtin.file:
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/nvim"
    dest: "{{ ansible_facts['user_dir'] }}/.config/nvim"
    state: link

- name: Neovim | Check nvim binary
  ansible.builtin.stat:
    path: "/usr/bin/nvim"
  register: nvim_binary
  check_mode: false

- name: Neovim | Suggest runner if copr install did not work
  ansible.builtin.debug:
    msg: "Neovim was not found. Use dotfiles/runner/neovim-nightly.sh to install neovim-nightly"
  when: not nvim_binary.stat.exists
