// Eww colors for Exquisite rice
$bg: #1D1F28;
$bg-alt: #1F222B;
$fg: #FDFDFD;
$black: #56687E;
$lightblack: #262831;
$red: #F37F97;
$blue: #8897F4;
$cyan: #79E6F3;
$magenta: #B043D1;
$green: #90ceaa;
$yellow: #F2A272;
$archicon: #0f94d2;
