snippet meta yaml-like metadata for md
  ---
  id: ${8:id}
  aliases: [${9:aliases}]
  tags: 
  - ${7:tags}
  date: `strftime("%Y-%m-%d-%H%M (%B %d, %Y %X)")`
  title: ${1:title}
  ---

snippet ,date my special date format 
  `strftime("%Y-%m-%d-%H%M (%B %d, %Y %X)")`

snippet ,link generate md wiki link
  [[${1}]]

snippet ,img generate md wiki link
  ![[${1}]]
