---
# Add ~/.config/JetBrains/IntelliJIdeaXX/keymaps symlink
#
# check if JetBrains is installed (maybe folders in ~ or ~/.config)
# if yes then loop all -> rm -rf keymaps -> symlink dotfiles keymaps

- name: Find IntelliJ config directories
  ansible.builtin.find:
    paths: "{{ ansible_facts['env']['HOME'] }}/.config/JetBrains"
    patterns: "IntelliJIdea20*"
    file_type: directory
  register: intellij_dirs

- name: Ensure dotfiles keymaps directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/dotfiles/config/JetBrains/{{ item.path | basename }}/keymaps"
    state: directory
    mode: '0755'
  loop: "{{ intellij_dirs.files }}"

- name: Remove existing keymaps directory
  ansible.builtin.file:
    path: "{{ item.path }}/keymaps"
    state: absent
  loop: "{{ intellij_dirs.files }}"

- name: Symlink keymaps to dotfiles
  ansible.builtin.file:
    src: "{{ ansible_facts['env']['HOME'] }}/dotfiles/config/JetBrains/{{ item.path | basename }}/keymaps"
    dest: "{{ item.path }}/keymaps"
    state: link
  loop: "{{ intellij_dirs.files }}"
