- name: fail2ban | Install fail2ban
  ansible.builtin.apt:
    name: fail2ban
    state: present
    update_cache: true
  become: true

- name: fail2ban | Ensure fail2ban is enabled and started
  ansible.builtin.service:
    name: fail2ban
    enabled: true
    state: started
  become: true
  when: not ansible_check_mode # skip in check mode

- name: fail2ban | Create a custom fail2ban jail for SSH
  ansible.builtin.copy:
    dest: /etc/fail2ban/jail.d/ssh.local
    content: |
      [sshd]
      enabled  = true
      port     = ssh
      filter   = sshd
      logpath  = /var/log/auth.log
      maxretry = 3
      bantime  = 600
      findtime = 600
    owner: root
    group: root
    mode: 0644
  become: true

- name: fail2ban | Restart fail2ban to apply new configuration
  ansible.builtin.service:
    name: fail2ban
    state: restarted
  become: true
  when: not ansible_check_mode # skip in check mode
